NEXT_PUBLIC_SUPABASE_URL=https://mdbhxgpiqhzwtnicftzg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1kYmh4Z3BpcWh6d3RuaWNmdHpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3ODUyODEsImV4cCI6MjA5MTM2MTI4MX0.72zIAhJ62-2V5etteSmFRAzUgiAVI5ReLOERQhqLXOo
